asgiref==3.8.1
Django~=5.1.4
sqlparse==0.5.3
django-debug-toolbar==5.0.0a0
djangorestframework==3.15.2
psycopg==3.1.18
python-decouple==3.8
redis==5.3.0b4
django-redisboard==8.4.0
channels[daphne]==4.2.0
uwsgi==2.0.28
python-decouple==3.8
requests==2.32.3
psycopg==3.1.18
psycopg2==2.9.10
django-cors-headers==4.7.0