{% extends 'base.html' %}

{% block title %}
	Your trainings
{% endblock %}

{% block content %}

    <h1>Trainings</h1>

	{% for training in trainings %}
		<div>
            <p>
                {{ forloop.counter }}. 
                date: {{ training.conducted }}
            </p>
            {% if training.description %}
            	<p>
                    description: {{ training.description }}
                </p>
            {% endif %}
            <p>
                <a href="{{ training.get_absolute_url }}">View</a>
            </p>
            
        </div>
	{% empty %}
		you don't have any training records yet.
	{% endfor %}

{% endblock %}