{% extends 'base.html' %}

{% block title %}
	{% if training %}
		Training {{ training.pk }}
	{% else %}
		Create new training
	{% endif %}
{% endblock %}

{% block content %}
	<h1>{% if training %}
		Training {{ training.pk }}
	{% else %}
		Create new training
	{% endif %}</h1>

    <form id="training-form" method="post" class="container">{% csrf_token %}
        <div class="mb-4">
            {{ training_form.as_p }}
        </div>

        <h2>Exercises</h2>
        <div id="exercises" class="mb-4">
            {{ exercise_formset.management_form }}
            {% for form in exercise_formset %}
            	<div class="exercise-form border p-3 mb-3">
                    {{ form.as_p }}
                </div>
            {% endfor %}
        </div>

        <input type="submit" class="btn btn-primary" value="Save">
        
    </form>

    <div id="training-form-response"></div>
{% endblock %}

{% block domready %}
    const form = document.getElementById('training-form');
    const responseDiv = document.getElementById('training-form-response');

    form.addEventListener('submit', function (event) {
        event.preventDefault();
        const formData = new FormData(form);
        const csrfToken = form.querySelector('[name=csrfmiddlewaretoken]').value;
        fetch(form.action, {
            method: 'POST',
            headers: {
                'X-CSRFToken': csrfToken
            },
            body: formData
        }).then(response => response.json()).then(data => {
            if (data.success) {
                responseDiv.innerHTML = '<p>Form saved successfully<p>';
            } else {
                responseDiv.innerHTML = '<p>Error saving the form.</p>';
                console.error('Errors:', data.errors);
            }
        }).catch(error => {
            responseDiv.innerHTML = '<p>An error occurred.</p>';
            console.error('Error:', error);
        });
    });
{% endblock %}
