{% extends 'base.html' %}

{% block title %}
	{% if training %}
		Training {{ training.pk }}
	{% else %}
		Create new training
	{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5">
	<h1 class="mb-4 d-flex justify-content-between align-items-center">
        {% if training %}
            Edit Training #{{ training.pk }}
        {% else %}
            Create New Training
        {% endif %}
    </h1>

    <form id="training-form" method="post" class="needs-validation" novalidate>{% csrf_token %}
        <!-- Training Details -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Training Details</h4>
                {% if user_has_previous_training %}
                <button type="button" class="btn btn-outline-secondary" id="load-last-training">
                    Take Data from Last Training
                </button>
                {% endif %}
            </div>
            <div class="card-body">
                {{ training_form.conducted.label_tag }}
                {{ training_form.conducted }}
                {% if training_form.conducted.errors %}
                    <div class="text-danger">{{ training_form.conducted.errors }}</div>
                {% endif %}

                {{ training_form.description.label_tag }}
                {{ training_form.description }}
                {% if training_form.description.errors %}
                    <div class="text-danger">{{ training_form.description.errors }}</div>
                {% endif %}
            </div>
        </div>

        <!-- Exercises Section -->
        <div class="card mb-4 shadow-sm">
            <div class="card-header bg-secondary text-white d-flex justify-content-between align-items-center">
                <h4 class="mb-0">Exercises</h4>
                <button type="button" class="btn btn-sm btn-success" id="add-group">
                    + Add Exercise
                </button>
            </div>
            <div class="card-body" id="exercises">
                {{ management_form }}
                {% for group in exercise_grouped_formset %}
                    <div class="border rounded p-3 mb-3 exercise-form"  x-data="{ deleted_set: false }" x-show="!deleted_set">
                        <button type="button" class="btn btn-sm btn-success add-exercise-button"
                                @click="
                                const orderInputs = document.querySelectorAll('input.order-input');
                                let maxValue = Number.NEGATIVE_INFINITY;
                                orderInputs.forEach((input => {
                                    const value = Number(input.value) || 0;
                                    if (value > maxValue) {
                                        maxValue = value;
                                        }
                                }));
                                const newValue = maxValue + 1;
                                console.log(newValue);
                                ">
                            + Add Exercise
                        </button>
                        {% for form in group %}
                            {{ form.as_div }}
                        {% endfor %}
                    </div>
                {% endfor %}
                <template id="empty_exercise_group_form">
                    <div class="border rounded p-3 mb-3 exercise-form"  x-data="{ deleted_set: false }" x-show="!deleted_set">
                        <button type="button" class="btn btn-sm btn-success add-exercise-button"
                                @click="">
                            + Add Exercise
                        </button>
                    {{ empty_form.as_div }}
                    </div>
                </template>
                <template id="empty_exercise_row_form">
                    {{ empty_form.as_div }}
                </template>
            </div>
        </div>

        <!-- Submit Button -->
        <div class="d-grid">
            <button type="submit" class="btn btn-primary btn-lg">Save Training</button>
        </div>
    </form>

    <!-- Separate Delete Form -->
        {% if training %}
        <form method="post" action="{% url 'training:delete' training.pk %}" class="mt-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger btn-lg w-100">Delete Training</button>
        </form>
        {% endif %}

    <div id="training-form-response" class="mt-4"></div>
</div>
{% endblock %}

{% block domready %}
{#    <script>#}
    const trainingFormResponseDiv = document.getElementById('training-form-response')
    const managementForm = document.querySelector('#id_exercises-TOTAL_FORMS');
    
    const addGroupButton = document.getElementById('add-group');
    const exercisesContainer = document.getElementById('exercises');

    const emptyExerciseGroupForm = document.getElementById('empty_exercise_group_form');

    // Handle adding a new exercise form
    addGroupButton.addEventListener('click', function () {
        const formCount = parseInt(document.getElementById('id_exercises-TOTAL_FORMS').value, 10);
        const newForm = emptyExerciseGroupForm.content.cloneNode(true);

        newForm.querySelectorAll("[id]").forEach((element) => {
            element.id = element.id.replace("__prefix__", formCount);
        });

        newForm.querySelectorAll("[name]").forEach((element) => {
            element.name = element.name.replace("__prefix__", formCount);
        });

        const orderInputs = document.querySelectorAll('input.order-input');
        let maxValue = Number.NEGATIVE_INFINITY;
        orderInputs.forEach((input => {
            const value = Number(input.value) || 0;
            if (value > maxValue) {
                maxValue = value;
                }
        }));
        const newValue = maxValue + 1;
        const orderInput = newForm.querySelector(".order-input");
        orderInput.value = newValue;
        const suborderInput = newForm.querySelector(".suborder-input");
        suborderInput.value = 1;


        // Clear input fields
        {#newForm.querySelectorAll('input, select').forEach(input => {#}
        {#    input.value = '';#}
        {#    const nameAttr = input.getAttribute('name').replace(/-\d+-/, `-${formCount}-`);#}
        {#    input.setAttribute('name', nameAttr);#}
        {#    input.setAttribute('id', `id_${nameAttr}`);#}
        {# }); #}

        // Append the new form and update management form count
        exercisesContainer.appendChild(newForm);
        document.getElementById('id_exercises-TOTAL_FORMS').value = formCount + 1;
    });
    
{#    // Handle deleting exercise forms#}
{#    document.querySelectorAll('.delete-exercise').forEach(button => {#}
{#        button.addEventListener('click', function () {#}
{#            const exerciseForm = this.closest('.exercise-form');#}
{#            const deleteCheckbox = exerciseForm.querySelector('input[name$="-DELETE"]');#}
{#            deleteCheckbox.checked = true;#}
{#            exerciseForm.style.display = 'none';  // Скрываем форму#}
{#        });#}
{#    });#}

    const loadLastTrainingButton = document.getElementById('load-last-training');
    const getLastTrainingURL = "{% url 'training:api:last_training' %}"

    loadLastTrainingButton.addEventListener('click', function () {
        const options = {
            method: 'GET',
            headers: {"X-CSRFToken": csrftoken},
            mode: 'same-origin'
        }
        fetch(getLastTrainingURL, options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to fetch last training data.');
                }
                return response.json();
            })
            .then(data => {
                if (data.error) {
                    alert(data.error);
                    return;
                }
{#                document.querySelector('#id_conducted').value = formatDateForInput(data.conducted);#}
                document.querySelector('#id_description').value = data.description;

                const exerciseForms = exercisesContainer.querySelectorAll('.exercise-form');
                const quantityCurrentForms = exerciseForms.length;
                const quantityNewForms = data.exercises.length;
                const quantityFormsToAdd = Math.max(0, quantityNewForms - quantityCurrentForms);
                const quantityFormsToDelete = Math.max(0, quantityCurrentForms - quantityNewForms);
                const quantityFormsToEdit = Math.min(quantityNewForms, quantityCurrentForms);

                for (let i = 0; i < quantityFormsToEdit; i++) {
                    const form = exerciseForms[i];
                    const exercise = data.exercises[i];
                    form.style.display = '';

                    // Update form fields with new exercise data
                    form.querySelector('[name$="-exercise_type"]').value = exercise.exercise_type;
                    form.querySelector('[name$="-order"]').value = exercise.order;
                    form.querySelector('[name$="-weight"]').value = exercise.weight;
                    form.querySelector('[name$="-repetitions"]').value = exercise.repetitions;

                    // Ensure the delete checkbox is not checked
                    const deleteCheckbox = form.querySelector('input[name$="-DELETE"]');
                    if (deleteCheckbox) {
                        deleteCheckbox.checked = false;
                    }
                }

                if (quantityFormsToDelete){
                    for (let i = 0; i < quantityFormsToDelete; i++){
                        const index = i + quantityFormsToEdit;
                        const form = exerciseForms[index];
                        form.style.display = 'none';
                        const deleteCheckbox = form.querySelector('input[name$="-DELETE"]');
                        deleteCheckbox.checked = true;
                    }
                 }

                if (quantityFormsToAdd){
                    for (let i = 0; i < quantityFormsToAdd; i++){
                        const index = i + quantityFormsToEdit;
                        const exercise = data.exercises[index];
                        const newForm = emptyExerciseForm.content.cloneNode(true);

                        newForm.querySelectorAll("[id]").forEach((element) => {
                            element.id = element.id.replace("__prefix__", index);
                        });

                        newForm.querySelectorAll("[name]").forEach((element) => {
                            element.name = element.name.replace("__prefix__", index);
                        });

{#                        newForm.style.display = '';#}
                        newForm.querySelector('[name$="-exercise_type"]').value = exercise.exercise_type;
                        newForm.querySelector('[name$="-order"]').value = exercise.order;
                        newForm.querySelector('[name$="-weight"]').value = exercise.weight;
                        newForm.querySelector('[name$="-repetitions"]').value = exercise.repetitions;
                        const deleteCheckbox = newForm.querySelector('input[name$="-DELETE"]');
                        {#deleteCheckbox.checked = false;#}
                        {#newForm.querySelectorAll('input, select').forEach(input => {#}
                        {#    const name = input.name.replace(/-\d+-/, `-${index}-`);#}
                        {#    input.name = name;#}
                        {#    input.id = `id_${name}`;#}
                        {# }); #}
                        {#const idField = newForm.querySelector('input[name$="-id"]');#}
                        {#idField.value = '';#}

                        exercisesContainer.appendChild(newForm);
                    }
                 }

                document.querySelector('#id_exercises-TOTAL_FORMS').value = Math.max(quantityNewForms, quantityCurrentForms);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });

    document.addEventListener('keydown', function(event) {
        if (event.ctrlKey && event.key === 's') {
            event.preventDefault(); // Prevent the default browser save behavior
            document.getElementById('training-form').submit(); // Submit the form
        }
    });


{% endblock %}