<div class="border rounded p-3 mb-3 exercise-form"  x-data="{ deleted: false }" x-show="!deleted">
    <div class="row">
        <div class="col-md-4">
            {{ form.exercise_type.label_tag }}
            {{ form.exercise_type }}
            {% if form.exercise_type.errors %}
                <div class="text-danger">{{ form.exercise_type.errors }}</div>
            {% endif %}
        </div>
        <div class="col-md-2">
            {{ form.order.label_tag }}
            {{ form.order }}
        </div>
        <div class="col-md-3">
            {{ form.weight.label_tag }}
            {{ form.weight }}
        </div>
        <div class="col-md-3">
            {{ form.repetitions.label_tag }}
            {{ form.repetitions }}
        </div>
        <div class="exercise_delete_field" style="display:none">
            {{ form.DELETE }}
        </div>
        <div class="col-12 text-end">
            <button type="button" class="btn btn-sm btn-danger delete-exercise" @click="
            deleted = true;
            const row = $el.closest('.row');
            const deleteFieldDiv = row.querySelector('.exercise_delete_field');
            const deleteField = deleteFieldDiv.querySelector('input');
            deleteField.checked = true;
            ">Delete</button>
        </div>
        {{ form.id }}
    </div>
</div>